<!DOCTYPE html>
<html>

<head>
    <title>Interesses- Edição</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <h1 class="text-center">Atividades-Edição</h1>
                <% if(!inte || inte.length == 0) {%>
                    <h4>Não existem a atividade buscada</h4>
                <% } else { %>
                <div class="dropdown-divider"></div>
                <h3>Editar atividade!</h3>
                <form action="/atividade/edit" method="POST">
                    <div class="form-group">
                        <label for="atividade">Atividade:</label>
                        <input id="atividade" value="<%= inte.informacao %>" type="text" class="form-control" name="atividade" placeholder="Digite nova atividade" />
                    </div>
                    <input type="hidden" name="id" value="<%= inte._id %>" />
                    <button type="submit" class="btn btn-primary text-center">Editar</button>
                </form>
                <% } %>
            </div>
        </div>
    </div>
</body>
</html>