<!DOCTYPE html>
<html>

<head>
  <title>Gabriel Romero API Curriculo</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h1 class="text-center">Bem Vindo!</h1>
        <p>Selecione alguma das seções para manipular os dados</p>
        
        <div class="list-group">
          <a href="/interesse" class="list-group-item list-group-item-action">Interesses</a>
          <a href="/formacao" class="list-group-item list-group-item-action">Formação</a>
          <a href="/atividade" class="list-group-item list-group-item-action">Atividades</a>
        </div>
      </div>
    </div>
  </div>

</body>

</html>