<!DOCTYPE html>
<html>

<head>
  <title>Gabriel Romero API Curriculo</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body>

  <div class="container">
    <div class="row">
      <% if(true) {%>
      <div class="col-sm-12 col-md-12 col-lg-12">
        <form action="/login" method="POST">
          <div class="form-group">
            <label for="login">Login:</label>
            <input id="login" type="text" class="form-control" name="login" placeholder="Digite o login" />
          </div>
          <div class="form-group">
              <label for="senha">Senha:</label>
              <input id="senha" type="password" class="form-control" name="senha" placeholder="Digite a senha" />
            </div>
          <button type="submit" class="btn btn-primary text-center">Salvar</button>
        </form>
      </div>
      <% } else { %>
      <div class="col-sm-12 col-md-12 col-lg-12 hidden">
        <h1 class="text-center">Bem Vindo!</h1>
        <p>Selecione alguma das seções para manipular os dados</p>

        <div class="list-group">
          <a href="/interesse" class="list-group-item list-group-item-action">Interesses</a>
          <a href="/formacao" class="list-group-item list-group-item-action">Formação</a>
          <a href="/atividade" class="list-group-item list-group-item-action">Atividades</a>
          <a href="/habilidade" class="list-group-item list-group-item-action">Habilidades</a>
          <a href="/idioma" class="list-group-item list-group-item-action">Idiomas</a>
          <a href="/biografia" class="list-group-item list-group-item-action">Biografia resumida e inteira</a>
          <a href="/contatoProfissao" class="list-group-item list-group-item-action">Contato Profissão</a>
          <a href="/rede" class="list-group-item list-group-item-action">Redes Sociais</a>
          <a href="/port" class="list-group-item list-group-item-action">Portfolio</a>
        </div>
      </div>
      <% } %>
    </div>
  </div>

</body>

</html>