<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bem Vindo!</h1>
    <p>Está é API do curriculo de Gabriel Romero</p>
    <ul>
      <li><a href="/interesse">Interesses</a></li>
      <li><a href="/interesse">Formação</a></li>
    </ul>
  </body>
</html>
