<!DOCTYPE html>
<html>

<head>
    <title>Interesses</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <p>Outro teste</p>
            <div class="col-lg-12">
                <form action="/interesses/save" method="POST">
                    <label>Interesses:
                        <input type="text" name="interesse" />
                    </label>
                    <button type="submit">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>